<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="registerform" action="/register" method="post">
<p> 
        <input type="text" name="name">
        <label for="name"> Enter Your Name </label>
    </p>
    <p>
        <input type="text" name="email">
        <label for="email">Enter Your Email </label>
    </p>

    <p>
        <input type="text" name="phone">
        <label for="phone">Enter Your Phone Number</label>
    </p>
    <p>
        <input type="text" name="password">
        <label for="password">Enter Your Password</label>
    </p>
        <input type="submit" value="Register">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="script.js"></script>
</body>
</html>